/* CSS Customizations */

/* WHD: Use block paragraphs instead of indented paragraphs. */
p {
   text-indent: 0;
   margin-left: 1em;
   margin-bottom: 1em;
   }

/* Use italics rather than underline for _underscore_ markup. */
u {
   text-decoration: none;
   font-style: italic;
}

/* Use something other than a sickly gray for demonstration list
 * topics. The color used to be #808080. */
.CDLEntry {
    color: purple;
    font: 10pt "Courier New", Courier, monospace;
    padding-bottom: .25em;
    white-space: nowrap }

/* Have a little less space before description lists, and a little
 * more space after. */
.CDescriptionList {
   margin-top: .3em;
   margin-bottom: .3em;
}

/* Indent preformatted blocks relative to the surrounding text. */
.CBody pre {
    margin-left: 2em; }
